<?xml version="1.0" encoding="utf-8" ?>
<process>
  <isparallel threshold="20">false</isparallel>
  <continueonerror>true</continueonerror>
  <!-- recursive = true|false - search and process subdirectories -->
  <!-- folders = true|false - create a folder for each file and move the file into that folder -->
  <paths>
    <log enabled="true">c:\temp\log.txt</log>
    <sources>
      <!-- One to N source paths to be searched -->
      <source recursive="true">C:\Projects\FileSorterManager\Autumn.FileIO.Sort\TestFiles\images1</source>
      <!--<source recursive="false">D:\ToDVD\Books\More books to Sort 1</source>-->
    </sources>
    <!-- For now, only one destination path -->
    <destination folders="true">C:\Projects\FileSorterManager\Autumn.FileIO.Sort\TestFiles\result</destination>
    <!-- For any file that could not be processed -->
    <rejected appenddate="true" format="_yyyyMMdd_hhmmssff">C:\Projects\FileSorterManager\Autumn.FileIO.Sort\TestFiles\result\Rejected</rejected>
  </paths>

  <!-- lowercase: true|false - convert the case of all extensions to lowercase -->
  <extensions lowercase="true">
    <extension>pdf</extension>
    <extension>epub</extension>
    <extension>jpg</extension>
  </extensions>

  <!-- normalize = true|false - replace repeated spaces with one space and remove non-printable characters -->
  <replacements normalize="true">
    <replace value = "_" with = " " />
    <replace value = ".." with = "." />
    <replace value = "," with = " " />
    <replace value = "#" with = "sharp" />
    <replace value = "[" with = " " />
    <replace value = "]" with = " " />
  </replacements>
</process>
